/INSTALL
/aclocal.m4
/autom4te.cache/
/configure
/depcomp
/install-sh
/missing
/config.log
/config.status
/src/.deps/
/src/*.o
/test/output.*.cg
/test/err_output.*.cg
/src/cg-mwesplit
**/Makefile
**/Makefile.in
